{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

  {{ if .Site.Params.showAuthorOnHomepage }}
    {{ partial "author-large.html" . }}
  {{ end }}

  <div class="intro">
    <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot"></span>{{ end }}</h1>
    <div class="intro-content">{{ .Content }}</div>
  </div>

  <h2>Introduction <span class="dot"></span></h2>
  <ul class="home-posts">
    {{ range sort .Site.Taxonomies.tags.intro.Pages.ByDate }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>

  <h2>Database and Table Management<span class="dot"></span></h2>
  <ul class="home-posts">
    {{ range .Site.Taxonomies.tags.manage.Pages.ByDate }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>

  <h2>Modifying Data<span class="dot"></span></h2>
  <ul class="home-posts">
    {{ range .Site.Taxonomies.tags.modify.Pages.ByDate }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>

  <h2>Query and Filtering Data<span class="dot"></span></h2>
  <ul class="home-posts">
    {{ range .Site.Taxonomies.tags.query.Pages.ByDate }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>

{{ end }}

{{ define "footer_js" }}
{{ end }}
