.summary {
  display: flex;
  justify-content: space-between;
  div {
    color: var(--text-color);
    margin: 20px 0 16px 0;
    font-size: 0.9rem;
  }
}

.home-posts {
  margin-bottom: 50px;

  li {
    list-style: none;
    a {
      color: #FFFFFF;
      font-size: 18px;
    }
  }
}
